@import "../../../config/Styles.scss";

.home-page-wrapper {
    height: 100%;
    width: 100%;
    display: contents;

    .section-title {
        text-transform: uppercase;
        position: relative;
        padding-left: 2rem;
        margin-left: 1rem;
        text-shadow: 1px 1px $clr-primary-main;

        @media (min-width: 600px) {
            margin-left: 4rem;
        }

        @media (min-width: 960px) {
            margin-left: 6rem;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 1rem;
            height: 100%;
            background: $clr-primary-main;
        }
    }

    .section-hero {
        position: relative;
        height: 100vh;
        min-height: 50rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        background-image: url("../../../assets/img/bg-portrait-1.jpg");
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: $clr-transparent-dark-100;
        }

        @media (min-width: 600px) {
            background-position: left;
        }

        .title {
            font-family: "Baloo Paaji", cursive;
            color: $clr-light-100;
            z-index: 1;
            text-align: center;
            padding: 1rem;
            margin: 0;
            text-shadow: 2px 2px $clr-primary-main;
            animation: hero-text 3s 1;
            max-width: 100%;
            font-size: 5rem;

            @media (min-width: 600px) {
                font-size: 7rem;
            }
        }

        .tagline {
            font-family: "Baloo Paaji", cursive;
            color: $clr-light-100;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
            z-index: 1;
            text-align: center;
            padding: 1rem;
            text-shadow: 2px 2px $clr-primary-main;
            font-size: 2rem;

            @media (min-width: 600px) {
                font-size: 3rem;
            }
        }

        @keyframes hero-text {
            0% {
                color: $clr-dark-100;
                text-shadow: 2px 2px $clr-light-100;
                margin-bottom: -40rem;
            }

            30% {
                letter-spacing: 2rem;
                margin-bottom: -40rem;
            }

            85% {
                letter-spacing: 1rem;
                margin-bottom: -4rem;
            }
        }
    }

    .section-contest {
        overflow: hidden;
        background: $clr-transparent-dark-100;
        padding: 10rem 0;

        .carousel-wrapper {
            @media (min-width: 600px) {
                margin: 3rem;
                margin-top: 2rem;
            }

            @media (min-width: 960px) {
                margin: 5rem;
                margin-top: 2rem;
            }
        }
    }

    .section-rules {
        padding: 10rem 0;
        position: relative;

        @media (min-width: 960px) {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                height: 20rem;
                width: 20rem;
                transform: translate(-50%, 40%);
                filter: opacity(0.5);
                background-size: cover;
                background-image: url("https://img.pngio.com/laws-and-regulations-120625-png-images-pngio-regulations-png-512_512.png");
            }
        }

        .rules-wrapper {
            padding: 2rem;
            padding-left: 3rem;

            @media (min-width: 600px) {
                margin: 0 4rem;
                padding-left: 2rem;
            }

            @media (min-width: 960px) {
                margin: 0 6rem;
            }

            .each-rule {
                margin-bottom: 1rem;
                font-size: $fs-md;
                font-weight: $fw-semibold;
                text-align: justify;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .section-contact {
        background: $clr-transparent-dark-100;
        padding: 8rem 0;

        > iframe {
            height: 30rem;
            width: calc(100% - 2rem);
            margin: 1rem;
            @media (min-width: 600px) {
                height: 40rem;
                width: calc(100% - 8rem);
                margin: 0 4rem;
                margin-top: 2rem;
            }

            @media (min-width: 960px) {
                height: 50rem;
                width: calc(100% - 12rem);
                margin: 0 6rem;
                margin-top: 2rem;
            }
        }
    }
}
