@import "../../../config/Styles.scss";

.home-page-wrapper {
    .section {
        height: 100vh;
        width: 100%;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: $clr-transparent-dark-100;
        }
        &.section-hero {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-repeat: no-repeat;
            color: #fff;
            background-size: cover;
            background-position: right;
            background-image: url("../../../assets/img/bg-portrait-1.jpg");
            @media (min-width: 600px) {
                background-position: left;
            }
        }
    }
}
