@import "../config/Styles.scss";

html {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    body {
        height: 100%;
        width: 100%;
        font-family: $font-family;
        #root {
            height: 100%;
            width: 100%;
            * {
                box-sizing: border-box;
            }
        }
    }
}
