//  <---FONT--->

$font-family: "Montserrat", "Roboto", sans-serif;

$fs-xs: 1.2rem;
$fs-sm: 1.4rem;
$fs-md: 1.6rem;
$fs-lg: 1.8rem;
$fs-xl: 2rem;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

$ficon-sm: 2rem;
$ficon-md: 2.5rem;
$ficon-lg: 3rem;

//  <!---FONT---!>

//  <---COLOR--->

$clr-primary-main: #ff4040;
$clr-secondary-main: #f89d13;

$clr-light-100: #fff;
$clr-light-200: #eaeaea;
$clr-light-300: #ccc;

$clr-transparent-light-100: rgba(255, 255, 255, 0.1);
$clr-transparent-light-200: rgba(255, 255, 255, 0.2);
$clr-transparent-light-300: rgba(255, 255, 255, 0.5);

$clr-dark-100: #000;
$clr-dark-200: #333;
$clr-dark-300: #777;

$clr-transparent-dark-100: rgba(0, 0, 0, 0.1);
$clr-transparent-dark-200: rgba(0, 0, 0, 0.2);
$clr-transparent-dark-300: rgba(0, 0, 0, 0.5);

//  <!---COLOR---!>
