@import "../../../../config/Styles.scss";

.login-modal-wrapper {
    .login-modal-container {
        position: relative;
        min-height: 25rem;
        display: flex;
        flex-direction: column;
        @media (min-width: 600px) {
            padding-left: 45%;
            min-height: 35rem;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 45%;
            background-image: url("../../../../assets/img/bg-landscape-1.jpg");
            background-position: center;
            background-size: cover;
            @media (min-width: 600px) {
                content: "";
            }
        }

        .btn-close {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
        }

        .modal-content-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            flex: 1;

            .header {
                color: $clr-dark-100;
                font-size: $fs-xl;
                margin-bottom: 4rem;
                text-shadow: 1px 1px $clr-primary-main;
                letter-spacing: 0.25rem;
            }

            .content {
                font-size: $fs-xs;
                font-weight: $fw-bold;
                margin-top: 3rem;
                letter-spacing: 0.1rem;
            }

            > button {
                background-color: $clr-primary-main !important;
                outline: none;

                > div {
                    display: flex;
                }

                > span {
                    color: $clr-light-100;
                    letter-spacing: 0.1rem;
                }
            }
        }
    }
}
